.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media (min-width: 768px) {
  .photo-gallery {
    grid-template-columns: 1;
  }
}

.photo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.photo:hover {
    transform: scale(1.25);
}